<div class="backingDivAcc">
        <div class="titleDivDash">
                <p class="title">ACCOUNT</p>
        </div>
        <div class="accInfoDiv">
          <div class="infoDiv">
            <p class="info">Name: <%= @user.first_name %> <%= @user.last_name %></p>
          </div>
          <div class="infoDiv">
            <p class="info">Email: <%= @user.email %></p>
          </div>
        </div>
        <div class="titleDivDash"><%= link_to "Logout", logout_path, class: "login-btn link" %></div>
</div>

