<div class="backingDiv">
        <div class="titleDiv">
                <p class="titleBlack">medcheck</p>
        </div>
        <%= image_tag "/images/app-icon.png", class: "logo" %>
        <div class="outerBtnDiv"><%= button_to "Login with Google", "/auth/google_oauth2", data: {turbo: "false"}, class: "login-btn link" %></div>
</div>