<div id="<%= dom_id medication_schedule %>">
  <p>
    <strong>Time:</strong>
    <%= medication_schedule.time %>
  </p>

  <p>
    <strong>Day of week:</strong>
    <%= medication_schedule.day_of_week %>
  </p>

  <p>
    <strong>Taken:</strong>
    <%= medication_schedule.taken %>
  </p>

</div>
