<h1>Editing medication schedule</h1>

<%= render "form", medication_schedule: @medication_schedule %>

<br>

<div>
  <%= link_to "Show this medication schedule", @medication_schedule %> |
  <%= link_to "Back to medication schedules", medication_schedules_path %>
</div>
