body{
  overflow: hidden;
}

.outerLink{
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Add this line */
  flex-basis: 0;
  margin-right: 15px;
  margin-left: 15px;
}

.bottomLink{
  margin-left: 15px;
  margin-right: 0;
}
.todayScheduleWidgetDiv{
    background-color: #D8E2DC;
    border-radius: 10px;
    width: 40vw;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Add this line */
    flex-basis: 0;
    /*padding: 5%;
    margin-left: 0px;*/
    padding: 0px;
    margin: 0px;
}

.mobileDiv{
  display: flex;
  width: 89vw;
  height: 50vh;
  column-gap: 15px;
  justify-content: space-between;
  padding-left: 0px;
  background-color: transparent;
}

.medicationsWidgetDiv{
    background-color: #F4ACB7;
    border-radius: 10px;
    width: 40vw;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Add this line */
    flex-basis: 0;
    /*padding: 5%;
    margin-left: 0px;*/
    padding: 0px;
    margin: 0px;
}

.scrollDiv{
  overflow-y: scroll;
  width: 100%;
  height: 70%;
}

.medications{
    display: flex;
    background-color: #FFCAD4;
    border-radius: 10px;
    height: fit-content;
    width: 82%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-bottom: 25px;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.appTitleDiv {
    display: flex;
    background-color: #9D8189;
    text-decoration: none;
    width: 85vw;
    padding-left: 0;
    margin-left: 0;
}
  
  .nonIcon {
    width: auto;
    height: 80%;
    margin-right: 5%;
    fill: #FFE5D9;
  }
  

  .appTitle {
    font-family: "Gamja Flower", sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    color: #FFE5D9;
    text-decoration: none;
  }
  
  .center{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin: 2%;
    text-decoration: none;
  }

  .widgetLink{
    text-decoration: none;
  }

  .blackLink{
    color: black;
  }


  .outerDashboard{
    width: 100vw;
    height: 97vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .todayScheduleDiv{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .medicationsDiv{
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  .widgetText{
    font-family: "Gamja Flower", sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
  }

  .widgetTitle{
    font-family: "Gamja Flower", sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    text-decoration: none;
    text-align: center;
    margin-bottom: 2%;
  }

  .schedule{
    display: flex;
    align-items: center;
    justify-content: center;
  }

    .scheduleSep {
        display: block;
        content: "";
        height: 2px;
        background-color: black;
        margin-bottom: 10px;
        width: 90%;
        align-items: center;
        align-self: center;
        text-align: center;
        justify-self: center;
    }

    .scheduleSepDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        height: 2px;
    }
    
    .scheduleSepDiv::before {
        content: "";
        flex: 0 0 80%;
        height: 2px;
        background-color: black;
    }


    .medicationIcon{
        width: auto;
        height: 100%;
        border-radius: 100px;
        border-width: 2px;
        border-style: solid;
        border-color: black;
        padding: 10px;
    }

    .medicationIconDiv{
        width: 20%;
        margin-left: 10px;
    }

    .medicationName{
      font-size: 30px;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .medicationInfo {
      margin-top: 10px;
      margin-bottom: 10px;
      height: fit-content;
      text-decoration: none;
      color: black;
    }

    .medicationInfo{
      font-family: "Gamja Flower", sans-serif;
      font-size: 25px;
      font-weight: 400;
      text-decoration: none;
      text-align: center;
    }

    .medsFlex{
      display: flex;
      column-gap: 15px;
    }

    .outerDashboard{
      padding: 0;
      margin: 0;
    }
    body{
      padding: 0;
      margin: 0;
    }

    .takeMedDiv, .takenMedDiv{
      width: 20%;
      height: 20%;
    }


    @media only screen and (max-width: 768px) {
      .mobileDiv {
        flex-direction: column;
        height: auto; /* Change height to auto to accommodate vertical stacking */
        width: 90%;
        height: 60%;
      }
    
      .todayScheduleWidgetDiv,
      .medicationsWidgetDiv {
        width: 96%; /* Make both widgets take full width on mobile */
        margin-right: 0; /* Remove margin-right to prevent spacing between widgets */
        margin-bottom: 20px; /* Add some spacing between the widgets */
        margin-left: 0;
        padding: 0;
        height: 28vh;
      }

      .outerLink{
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        flex-grow: 1; /* Add this line */
        flex-basis: 0;
        margin-left: 0;
        margin-right: 0;
      }

      .bottomLink{
        margin-left: 0;
        width: 100%;
      }

      .takeMedDiv, .takenMedDiv{
        width: 50%;
        height: 50%;
      }

      .medicationIconDiv{
        width: 40px;
        height: 40px;
        margin-left: 10px;
      }

      .medicationIcon{
        width: 30px;
        height: 30px;
      }

      .widgetLink:focus, .widgetLink:active, .widgetLink:visited{
        outline: 0;
        border: none;
        -moz-outline-style: none;
        box-shadow: none;
      }

    }