.appTitleDiv {
        display: flex;
        background-color: #9D8189;
        text-decoration: none;
        width: 85vw;
        padding-left: 0;
        margin-left: 0;
    }

    .appTitle {
        font-family: "Gamja Flower", sans-serif;
        font-size: 60px;
        font-weight: bold;
        margin: 0;
        color: #FFE5D9;
        text-decoration: none;
      }


      .medicationsWidgetDiv{
        width: 100%;
        height: 90%;
        margin-bottom: 0;
        overflow: hidden;
      }

      .mobileDiv{
        display: flex;
        width: 88vw;
        height: 70vh;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        overflow: hidden;
      }

      .btns {
    display: inline-block;
    padding: 10px 20px;
    font-size: 30px;
    font-family: "Gamja Flower", sans-serif;
    font-weight: 400;
    background-color: #D8E2DC;
    border: none;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    height: fit-content;
        width: 80%;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
  }
  
  .btns a{
    text-decoration: none;
  }
  
  .btns:hover{
    background-color: #9D8189;
    text-decoration: none;
    color: black;
  }
  
  .btns:focus{
    background-color: #9D8189;
    text-decoration: none;
    color: black;
  }



.medications{
  background-color: #FFCAD4;
  display: flex;
  justify-content: center;
}

.innerMed{
  width: 80%;
  justify-content: space-between;
  display: flex;
  height: 100%;
  vertical-align: middle;
}

.medicationInfo{
  margin-left: 0px;
}

.medicationIcon{
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  padding: 10px;
}

.medicationIconDiv{
  margin-left: 10px;
  width: 100px;
  height: 100%;
  margin-top: 15px;
}

.scrollDiv{
  height: 60%;
}
