.formInfo{
        background-color: #9D8189;
        border-radius: 10px;
        width: 100%;
        height: fit-content;
        margin-top: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #FFE5D9;
        display: flex;
}

.daysDiv{
        display: flex;
        justify-content: space-between;
        width: 85%;
        height: fit-content;
        margin-bottom: 15px;
}

.circleDay{
        border-radius: 70px;
        background-color: #F4ACB7;
        height: fit-content;
        width: 35px;
}

.newScheduleDiv{
        width: 87%;
        height: 36vh;
        background-color: #D8E2DC;
        border-radius: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        overflow-y: scroll;
}

.outerForm{
        width: 87%;
}

.createbtns{
        display: inline-block;
        padding: 10px 20px;
        font-size: 30px;
        font-family: "Gamja Flower", sans-serif;
        font-weight: 400;
        background-color: #9D8189;
        border: none;
        border-radius: 5px;
        color: #FFE5D9;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-decoration: none;
        height: fit-content;
        width: 100%;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        margin-top: 15px;
      }
      
      .createbtns a{
        text-decoration: none;
      }
      
      .createbtns:hover{
        background-color: #F4ACB7;
        text-decoration: none;
        color: black;
      }
      
      .createbtns:focus{
        background-color: #F4ACB7;
        text-decoration: none;
        color: black;
      }

      .selectEl{
        background-color: #FFE5D9;
        font-family: "Gamja Flower", sans-serif;
        font-weight: 400;
        font-size: 25px;
        margin: 0;
        text-decoration: none;
        text-align: center;
        color: black;
        border-radius: 10px;
        border-style: none;
        outline: none;
      }

      .selectEl:focus{
        border-style: none;
        outline: none;
      }

      .selectEl::selection {
        background-color: #F4ACB7;
        color: #F4ACB7;
      }

      .selectEl::-webkit-input-placeholder {
        color: #F4ACB7;
      }
      
      .selectEl:-moz-placeholder {
        color: #F4ACB7;
        opacity: 1;
      }
      
      .selectEl::-moz-placeholder {
        color: #F4ACB7;
        opacity: 1;
      }
      
      .selectEl:-ms-input-placeholder {
        color: #F4ACB7;
      }

      .blockDiv{
        display: block;
        width: 50%;
      }


      @media only screen and (max-width: 768px) {
        .appTitle{
          font-size: 30px !important;
        }

        .newScheduleDiv{
          width: 87%;
          height: 45vh !important;
          background-color: #D8E2DC;
          border-radius: 10px;
          padding-top: 20px;
          padding-bottom: 20px;
          overflow-y: scroll;
        }

        .formInfo{
          background-color: #9D8189;
          border-radius: 10px;
          width: 100%;
          height: fit-content;
          margin-top: 15px;
          padding-top: 10px;
          padding-bottom: 10px;
          color: #FFE5D9;
          overflow: hidden;
        }

        .blockDiv{
          display: block;
          width: fit-content;
        }

      }