.appTitleDiv {
        display: flex;
        background-color: #9D8189;
        text-decoration: none;
        width: 85vw;
        padding-left: 0;
        margin-left: 0;
    }

    .appTitle {
        font-family: "Gamja Flower", sans-serif;
        font-size: 60px;
        font-weight: bold;
        margin: 0;
        color: #FFE5D9;
        text-decoration: none;
      }

      .nonIcon {
        width: auto;
        height: 80%;
        margin-right: 5%;
        fill: #FFE5D9;
      }

      .todayScheduleWidgetDiv{
        width: 92%;
        margin-left: 15px;
      }



      @media only screen and (max-width: 768px) {
        .todayScheduleWidgetDiv{
          width: 100%;
          margin-left: 0;
        }
  
      }


      .takeMedIcon{
        width: auto;
        height: 100%;
        padding: 10px;
      }
    
    .takeMedDiv{
        height: 100%;
        width: 12%;
        margin-right: 10px;
        fill: black;
    }

    .takenMedIcon{
      width: auto;
      height: 100%;
      padding: 10px;
    }
  
  .takenMedDiv{
      height: 100%;
      width: 12%;
      margin-right: 10px;
      fill: black;
  }

  .mobileDiv{
    height: 60vh;
  }

  @media only screen and (max-width: 768px) {
    .mobileDiv{
      height: 75vh;
    }
    .todayScheduleWidgetDiv{
      height: 75vh;
    }
  }