<h1>Editing day taken</h1>

<%= render "form", day_taken: @day_taken %>

<br>

<div>
  <%= link_to "Show this day taken", @day_taken %> |
  <%= link_to "Back to day takens", day_takens_path %>
</div>
